---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- TODO: Better contact page -->
  <h1 class="text-4xl mb-2 font-grotesk">Getting in touch</h1>

  <p>
    There are many ways to get in touch with me! Here are some of the most
    reliable ways to do so:
  </p>
  <p>
    <b>Email:</b> hi [at] valbuilds [dot] xyz <span class="text-sm"
      >(this is formatted oddly to prevent the spam bots)</span
    >
  </p>
  <p>
    <b>Bluesky:</b> I don't use Twitter/X. My DMs are open on Bluesky, <a
      href="https://bsky.app/profile/valbuilds.xyz"
      class="text-blue-800 dark:text-blue-400 hover:underline"
      target="_blank">@valbuilds.xyz</a
    >.
  </p>
  <p>
    <b>Discord:</b> I usually have Discord open when I'm at my computer. My DMs might
    not be open, but I have a server where you can reach out. You can join it by
    clicking <a
      href="https://discord.gg/"
      class="text-blue-800 dark:text-blue-400 hover:underline"
      target="_blank">here</a
    >.
  </p>
</Layout>
