---
import Wordmark from "./Wordmark.astro";
---

<div
  class="p-4 max-w-screen-xl mx-auto flex gap-4 justify-between items-center w-full"
>
  <a href="/" class="font-grotesk text-2xl dark:text-white">
    <Wordmark />
  </a>
  <ul
    class="flex gap-5 text-palm-leaf-950 dark:text-palm-leaf-300 font-grotesk"
  >
    <li><a href="/" class="hover:underline">home</a></li>
    <li><a href="/posts" class="hover:underline">posts</a></li>
    <li><a href="/contact" class="hover:underline">contact</a></li>
  </ul>
</div>
